{% extends "layout.html" %}

{% block title %}
    trans
{% endblock %}

{% block body %}
	<div  class="container">
		<nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1">Your Cart Items</span>
			<a class="my-2 my-sm-0" href="{{url_for('admin_logout')}}">Logout</a>
		</nav>
		{% if rows %}
					<table class="table">
						<thead class="thead-dark">
						<tr>
							<th scope="col">Sr.No</th>
							<!-- <th scope="col">Customer userid</th> -->
							<th scope="col">Proid</i></th>
							<th scope="col">pet</th>
							<th scope="col">Price</th>
							<!-- <th scope="col">Price</th> -->
							<th scope="col">Delete Item</th>
						</tr>
						</thead>
						<tbody>
							{% for row in rows %}
							<tr>
								<th scope="row">{{loop.index}}</th>
								<!-- <td>{{row[0]}}</td> -->
								<td>{{row[1]}}</td>
								<td>{{row[2]}}</td>
								<td><span>&#8377;</span>{{row[3]}}</td>
								<!-- <td>{{row[4]}}</td> -->
								<td><form method="post" action="{{url_for('del_pro', PROID=row[1])}}">
									<button type="submit" class="material-icons">delete</button></form></td>
									<!-- <td>{{row[4]}}</td> -->
							</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>
			{% endif %}
	</div>
{% endblock %}